In [ ]:
#1.Computation of inter-event time
import numpy as np
def cal_inter_event_time(even_size_list,min_size): 
  inter_time = [] 
  pre_event_time = 0
  for j in range(0, len(even_size_list)):
    if even_size_list[j] >= min_size:
      if j - pre_event_time != 0:
        inter_time.append(j - pre_event_time)
      pre_event_time = j
  return np.array(inter_time)


even_size_list_1 = [10,1,6,4,3,2,7,0,8,8,2,0,7,7,1,0]
cal_inter_event_time (even_size_list_1,5)

array([2, 4, 2, 1, 3, 1])

In [47]:
#2.Analyzing the CMS Nursing Home Dataset
import pandas as pd
df_nursing = pd.read_csv('/content/COVID-19 Nursing Home Data 09.11.2022.csv')

#2-1 table showing the distribution of the number of nursing home facilities by state and county
print("Task 2-1: ")
display(df_nursing.groupby(["Provider State","County"])["Provider Name"].count())
print("-----------------------------------------------------------------------------------------")

#2-2 List the top 5 states by the number of nursing home facilities
print("Task 2-2: ")
display(df_nursing.groupby(["Provider State"])["Provider Name"].count().nlargest(n=5))
print("-----------------------------------------------------------------------------------------")

#2-3 Facility analysis
print("Task 2-3: ")
#2-3-1 Shortage of Nursing Staff
df_nursing.loc[df_nursing['Shortage of Nursing Staff'] == "Y", 'shortage_of_aids_conversion'] = 1 
df_nursing.loc[df_nursing['Shortage of Nursing Staff'] != "Y", 'shortage_of_aids_conversion'] = 0
df_Shortage_of_Nursing_Staff = df_nursing.groupby(["Provider Name"],as_index=False)["shortage_of_aids_conversion"].sum()
df_Shortage_of_Nursing_Staff['Number of Shortage weeks_nursing_staff'] = df_Shortage_of_Nursing_Staff["shortage_of_aids_conversion"].apply(lambda x: '0-10' if x <= 10 else '11-20' if (x >=11 and x< 20) else '>20' )
display(df_Shortage_of_Nursing_Staff[["Provider Name","Number of Shortage weeks_nursing_staff"]])

#2-3-2 Shortage of Clinical Staff
df_nursing.loc[df_nursing['Shortage of Clinical Staff'] == "Y", 'shortage_of_aids_conversion'] = 1 
df_nursing.loc[df_nursing['Shortage of Clinical Staff'] != "Y", 'shortage_of_aids_conversion'] = 0
df_Shortage_of_Nursing_Staff = df_nursing.groupby(["Provider Name"],as_index=False)["shortage_of_aids_conversion"].sum()
df_Shortage_of_Nursing_Staff['Number of Shortage weeks_clinical_staff'] = df_Shortage_of_Nursing_Staff["shortage_of_aids_conversion"].apply(lambda x: '0-10' if x <= 10 else '11-20' if (x >=11 and x< 20) else '>20' )
display(df_Shortage_of_Nursing_Staff[["Provider Name","Number of Shortage weeks_clinical_staff"]])

#2-3-3 Shortage of Aides
df_nursing.loc[df_nursing['Shortage of Aides'] == "Y", 'shortage_of_aids_conversion'] = 1 
df_nursing.loc[df_nursing['Shortage of Aides'] != "Y", 'shortage_of_aids_conversion'] = 0
df_Shortage_of_Nursing_Staff = df_nursing.groupby(["Provider Name"],as_index=False)["shortage_of_aids_conversion"].sum()
df_Shortage_of_Nursing_Staff['Number of Shortage weeks_aides'] = df_Shortage_of_Nursing_Staff["shortage_of_aids_conversion"].apply(lambda x: '0-10' if x <= 10 else '11-20' if (x >=11 and x< 20) else '>20' )
display(df_Shortage_of_Nursing_Staff[["Provider Name","Number of Shortage weeks_aides"]])

#2-3-4 Shortage of Other Staff
df_nursing.loc[df_nursing['Shortage of Other Staff'] == "Y", 'shortage_of_aids_conversion'] = 1 
df_nursing.loc[df_nursing['Shortage of Other Staff'] != "Y", 'shortage_of_aids_conversion'] = 0
df_Shortage_of_Nursing_Staff = df_nursing.groupby(["Provider Name"],as_index=False)["shortage_of_aids_conversion"].sum()
df_Shortage_of_Nursing_Staff['Number of Shortage weeks_other_staff'] = df_Shortage_of_Nursing_Staff["shortage_of_aids_conversion"].apply(lambda x: '0-10' if x <= 10 else '11-20' if (x >=11 and x< 20) else '>20' )
display(df_Shortage_of_Nursing_Staff[["Provider Name","Number of Shortage weeks_other_staff"]])

Task 2-1:

Provider State  County
AK              Anchorage           363
                Bethel              121
                Cordova-Mccarthy    121
                Fairbanks           121
                Juneau              121
                                   ...
WY              Sweetwater          242
                Teton               121
                Uinta               121
                Washakie            121
                Weston              121
Name: Provider Name, Length: 2897, dtype: int64

-----------------------------------------------------------------------------------------
Task 2-2:

Provider State
TX    146460
CA    142938
OH    115133
IL     85432
FL     84768
Name: Provider Name, dtype: int64

-----------------------------------------------------------------------------------------
Task 2-3:

,Provider Name,Number of Shortage weeks_nursing_staff
0,15 CRAIGSIDE,0-10
1,24TH PLACE,>20
2,60 WEST,0-10
3,A GRACE SUB ACUTE & SKILLED CARE,0-10
4,A HOLLY PATTERSON EXTENDED CARE FACILITY,0-10
...,...,...
15227,ZEBULON REHABILITATION CENTER,0-10
15228,"ZERBE SISTERS NURSING CENTER,",0-10
15229,ZIONSVILLE MEADOWS,0-10
15230,ZUCKERBERG SAN FRANCISCO GENERAL HOSP & TRAUMA...,0-10
15231,ZUMBROTA CARE CENTER,11-20

,Provider Name,Number of Shortage weeks_clinical_staff
0,15 CRAIGSIDE,0-10
1,24TH PLACE,0-10
2,60 WEST,0-10
3,A GRACE SUB ACUTE & SKILLED CARE,0-10
4,A HOLLY PATTERSON EXTENDED CARE FACILITY,0-10
...,...,...
15227,ZEBULON REHABILITATION CENTER,0-10
15228,"ZERBE SISTERS NURSING CENTER,",0-10
15229,ZIONSVILLE MEADOWS,0-10
15230,ZUCKERBERG SAN FRANCISCO GENERAL HOSP & TRAUMA...,0-10
15231,ZUMBROTA CARE CENTER,0-10

,Provider Name,Number of Shortage weeks_aides
0,15 CRAIGSIDE,0-10
1,24TH PLACE,>20
2,60 WEST,0-10
3,A GRACE SUB ACUTE & SKILLED CARE,0-10
4,A HOLLY PATTERSON EXTENDED CARE FACILITY,0-10
...,...,...
15227,ZEBULON REHABILITATION CENTER,0-10
15228,"ZERBE SISTERS NURSING CENTER,",0-10
15229,ZIONSVILLE MEADOWS,0-10
15230,ZUCKERBERG SAN FRANCISCO GENERAL HOSP & TRAUMA...,0-10
15231,ZUMBROTA CARE CENTER,11-20

,Provider Name,Number of Shortage weeks_other_staff
0,15 CRAIGSIDE,0-10
1,24TH PLACE,>20
2,60 WEST,0-10
3,A GRACE SUB ACUTE & SKILLED CARE,0-10
4,A HOLLY PATTERSON EXTENDED CARE FACILITY,0-10
...,...,...
15227,ZEBULON REHABILITATION CENTER,0-10
15228,"ZERBE SISTERS NURSING CENTER,",>20
15229,ZIONSVILLE MEADOWS,0-10
15230,ZUCKERBERG SAN FRANCISCO GENERAL HOSP & TRAUMA...,0-10
15231,ZUMBROTA CARE CENTER,0-10

In [48]:
import pandas as pd
import numpy as np
df_nursing = pd.read_csv('/content/COVID-19 Nursing Home Data 09.11.2022.csv')
df_copy = df_nursing.copy()
print("Task 2-4: ") 
# Make a new column to display the facilities with (only) 100% bed occupancy, which will be "Yes"
df_fullBed = df_copy.assign(
    fulloccupied = np.where(df_copy['Total Number of Occupied Beds'] >= df_copy['Number of All Beds'], "Yes","NO") 
)

# Sellect the facilities in Middlesex county in MA with 100% bed occupancy
pd_result = df_fullBed.loc[(df_fullBed['Provider State'] == "MA") & (df_fullBed['County'] == "Middlesex")& (df_fullBed['fulloccupied'] == "Yes"),["Provider Name", "County"]]

# Make a new column "count" to count the weeks with 100% bed occupancy
pd_result_1 = pd_result.groupby(pd_result['Provider Name']).agg(
    count = pd.NamedAgg(column = "County", aggfunc = "count")).reset_index()

# Count the number of facilities
display((pd_result_1["count"] >= 3).sum())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,41,42,43,44,45) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Task 2-4:

7

In [1]:
# Task 2-5: The distribution of the number of nursing home facilities by division
import pandas as pd
import numpy as np
df_nursing = pd.read_csv('/content/COVID-19 Nursing Home Data 09.11.2022.csv')
df_copy = df_nursing.copy()
# Sellect the provider name and state from data and make it a new data frame "df_nursing_2"
df_nursing_2 = df_copy[['Provider Name', 'Provider State']]

# Make a new column "Type of Division" to group different type of division
df_nursing_2['Type of Division'] = df_nursing_2["Provider State"].apply(lambda x: 'Division_1' if x in ['CT','MA','ME','NH','RI','VT'] else 'Division_2' if (x in ['NJ','NY','PA']) else 'Division_3' if (x in ['IN','IL','MI','OH','WI']) else 'Division_4' if (x in ['ND','SD','NE','KS','MN','IA','MO']) else 'Division_5' if (x in ['DC','DE','MD','WV','VA','NC','SC','GA','FL']) else 'Division_6' if (x in ['KY','TN','MS','AL']) else 'Division_7' if (x in ['OK','AR','TX','LA']) else 'Division_8' if (x in ['MT','ID','WY','NV','UT','CO','AZ','NM']) else 'Division_9' if (x in ['WA','OR','CA','AK','HI']) else None)

# Use "groupby" to show the distribution of the number of providers by division and make it as a new data frame "df_nursing_3"
df_nursing_3 = df_nursing_2.groupby(['Type of Division', 'Provider Name'], as_index=False).count().groupby(['Type of Division'])['Type of Division'].count()
print("Task 2-5: ") 
display(df_nursing_3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,41,42,43,44,45) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

Task 2-5:

Type of Division
Division_1     868
Division_2    1672
Division_3    2975
Division_4    2026
Division_5    2392
Division_6    1033
Division_7    2031
Division_8     797
Division_9    1585
Name: Type of Division, dtype: int64